@import '../../Variables';

.navbar {
  @include flex-center;
  position: fixed;
  bottom: 0;
  padding: 0.4rem 0.8rem;
  background-color: $accent-color;
  width: 100%;

  .navlinks {
    font-size: 1.6rem;
    padding: 1.2rem;
  }

  a {
    font-weight: 500;
    border-radius: $radius-sm;
    padding: 1.2rem 2.4rem;
  }

  .active {
    background-color: $main-bg;
  }
}
