@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import 'Variables';
// reset css

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

img {
  max-width: 100%;
}

body {
  background-color: $body-bg;
  color: $text-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: none;
  color: $text-color;
}

a:link,
a:visited {
  text-decoration: none;
  color: $text-color;
}

.container {
  margin-top: 6.4rem;
  margin-bottom: 9.6rem;
}
